@import './utils/variables';

@import './base/common';
@import './base/container';
@import './base/section';

@import './layout/header';
@import './layout/hero';
@import './layout/experience';
@import './layout/dribbble';
@import './layout/projects';
@import './layout/reviews';
@import './layout/skillset';
@import './layout/values';
@import './layout/socials';
@import './layout/gallery';
@import './layout/clients';
@import './layout/contacts';
@import './layout/footer';

