:root {
    --base-bg-color: #000;
    --secondary-bg-color: #181823;
    --title-text-color:#fff;
    --general-text-color: #8491A0;
    --accent-color:#5221E6;
    --values-bg:#FFF3E4;
    --socials-bg: #FBE4FF;
    --title-text-color_light_theme: #181823;
    --general-text-color_light_theme: #5B6876;
    --primary-font: 'Sen', sans-serif;
}