<section class="clients">
<h2 class="clients__title">Clients</h2>
<ul class="list clients-list">
    <li class="clients-list__item">
        <a href="" class="clients-list__link">
            
        </a>
    </li>
    <li class="clients-list__item">
        <a href="" class="clients-list__link">
            
        </a>
    </li>
    <li class="clients-list__item">
        <a href="" class="clients-list__link">
            
        </a>
    </li class="">
    <li class="clients-list__item">
        <a href="" class="clients-list__link">
            
        </a>
    </li>
</ul>
</section>