<!-- Experience -->
<section>
  <h2>Work experience</h2>
  <h3>Companies I have worked for in the past</h3>
  <ul>
    <li>
      <p>01</p>
      <p>Google, Interaction Designer</p>
      <p>
        I currently am the lead designer on the interaction design team for
        Google Play.
      </p>
    </li>
    <li>
      <p>02</p>
      <p>Facebook, Product Designer</p>
      <p>
        I’ve worked on a wide variety of internal tools for facebook over the
        past 6 years.
      </p>
    </li>
    <li>
      <p>03</p>
      <p>Dribbble, Graphic Designer</p>
      <p>
        I started my design career with Dribbble. I was incharge of creating
        illustrations for the platform.
      </p>
    </li>
  </ul>
</section>
