<section class="projects">
  <div class="container">
    <h2 class="section__title">MY PROJECTS</h2>
    <h3 class="title">Work that I’ve done for the past 8 years</h3>
    <ul class="projects__list list">
      <li class="projects__item">
        <img src="../images/project1-desktop.jpg" alt="Laptop image" />
        <div class="projects__discription">
          <p class="projects__title">Restaurant Website Design</p>
          <p>
            I worked with the guys at CBRE to redesign their entire website and
            mobile app fro both Android and iOS. This project lasted for 4
            months and was a very challenging one.
          </p>
        </div>
      </li>
      <li class="projects__item">
        <img
          src="../images/project2-desktop.jpg"
          alt="image of a mobile phone"
        />
        <div class="projects__discription">
          <p class="projects__title">Restaurant Website Design</p>
          <p>
            I worked with the guys at CBRE to redesign their entire website and
            mobile app fro both Android and iOS. This project lasted for 4
            months and was a very challenging one.
          </p>
        </div>
      </li>
      <li class="projects__item">
        <img
          src="../images/project3-desktop.jpg"
          alt="image of a mobile phone"
        />
        <div class="projects__discription">
          <p class="projects__title">Restaurant Website Design</p>
          <p>
            I worked with the guys at CBRE to redesign their entire website and
            mobile app fro both Android and iOS. This project lasted for 4
            months and was a very challenging one.
          </p>
        </div>
      </li>
      <li class="projects__item">
        <img src="../images/project4-desktop.jpg" alt="Image" />
        <div class="projects__discription">
          <p class="projects__title">Restaurant Website Design</p>
          <p>
            I worked with the guys at CBRE to redesign their entire website and
            mobile app fro both Android and iOS. This project lasted for 4
            months and was a very challenging one.
          </p>
        </div>
      </li>
    </ul>
    <button class="project__btn">VIeW ALL PROJECTS</button>
  </div>
</section>
