<section class="section rewie">
    <div class="rewie-info">
        <h2 class="rewie__title">This is what people say about me</h2>
        <p class="rewie__subtitle">Here are a few lines from people who I have worked with over the past 8+ years in my
            design career.</p>
        <a class="rewie__link" href="#">See all testimonials</a>
    </div>
    <ul class="team">
        <li class="team__team-info">
            <img src="" alt="">
            <div class="employee">
                <p class="employee__descr">‘’Robin is one of the best designers I have worked with in my entire life. He
                    is a designer
                    who is very capable of
                    taking up complex projects and delivers impeccable design.’’</p>
                <h3 class="employee__name">Richard Owens</h3>
                <p class="employee__company">CEO, Company 1</p>
            </div>
        </li>
        <li class="team__team-info">
            <img src="" alt="">
            <div class="employee">
                <p class="employee__descr">‘’I think Robin has an incredible gift. It has been an absolute pleasure to
                    work with a
                    designer of this caliber.’’</p>
                <h3 class="employee__name">Emily Parker</h3>
                <p class="employee__company">CEO, Company 2</p>
            </div>
        </li>
        <li class="team__team-info">
            <img src="" alt="">
            <div class="employee">
                <p class="employee__descr">‘’All I can say that, Robin is a phenomenal designer. The wavelength at which
                    he thinks is
                    astoundaing. I love the
                    focus, passion and attention to detial in the design.’’</p>
                <h3 class="employee__name">Vincent Rudd</h3>
                <p class="employee__company">CEO, Company 1</p>
            </div>
        </li>
    </ul>
</section>