<section>
    <h2>
        Philosophy &amp; values
    </h2> 
    <p>
        I think everyone wants the same thing - relationship with humanity, 
        peace with the metaphysical, and experience with the universe. 
        I try to grasp these things with my values: authenticity, creativity, &amp; hospitality.
    </p>
    <details>
        <summary>More about me</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, id est! Atque earum aliquam numquam aperiam eveniet, 
            ea assumenda eaque.</p>
    </details>
    <img src="" alt="Glass ball in hand" width="720" height="600">
</section>